<h2>Lists</h2>

<% if @lists.any? %>
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.title, list_path(list) %>
      </li>
      <% end %>
  </ul>
<% else %>
  <h3>No Lists, please add one!</h3>
<% end %>

<%= link_to 'Edit Profile', edit_user_registration_path %> |

<<<<<<< HEAD
<%= link_to 'Add List', new_list_path %>

=======
<%= link_to 'Add List', new_list_path %> |

<%= link_to 'Back', root_path %>
>>>>>>> ede5357fc3e547361ef862443e45260ec7c060d1
