<h2>Lists</h2>
<div class='container-fluid'>
<% if @lists.any? %>
  <% @lists.each do |list| %>

		<div class="card col-md-4">

	  	<%= image_tag list.image.url(:medium), class: 'card-img-top' %>
		  <div class="card-block">

		    <h4 class="card-title"><%= list.title %></h4>
		    <p class="card-text"><%= list.description %></p>

		    <%= link_to 'View', list_path(list), class: "btn btn-primary" %>
		  </div>

		</div>      
<% end %>
<% else %>
  <h3>No Lists, please add one!</h3>
<% end %>
</div>

<br />


<%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-primary" %> |
<%= link_to 'Add List', new_list_path,  class: "btn btn-primary" %> |
<%= link_to 'Back', root_path,  class: "btn btn-primary" %>


