<h2>Lists</h2>

<% if @lists.any? %>
  <% @lists.each do |list| %>

		<div class="card col-md-4">

	  	<%= image_tag list.image.url(:medium), class: 'card-img-top' %>
		  <div class="card-block">

		    <h4 class="card-title"><%= link_to list.title, list_path(list) %></h4>
		    <p class="card-text"><%= link_to list.description, list_path(list) %></p>

		    <a href="#" class="btn btn-primary">View</a>
		  </div>

		</div>      
<% end %>
<% else %>
  <h3>No Lists, please add one!</h3>
<% end %>




<%= link_to 'Edit Profile', edit_user_registration_path %> |

<%= link_to 'Add List', new_list_path %> |

<%= link_to 'Back', root_path %>

