<h1>Welcome: <%= current_user.first_name %></h1>

<hr />


<div class="row">
<% if @lists.any? %>
  <% @lists.each do |list| %>

		<div class="card col-md-4">

	  	<%= image_tag list.image.url(:cover), class: 'card-img-top' %>
		  <div class="card-block">

		    <h4 class="card-title"><%= list.title %></h4>
		    <p class="card-text"><%= list.description %></p>
		    <p class="card-text">Created by: <%= list.user.first_name %></p>
		    
		    <%= link_to 'View', list_path(list), class: "btn btn-primary" %>

		  </div>
		</div>      
	<% end %>
<% else %>
  <h3>No Lists, please add one!</h3>
<% end %>



</div>

<hr>

<%= link_to 'Add List', new_list_path, class:"btn btn-primary" %>

<div class='container-fluid text-center'>
	<%= will_paginate @lists %>
</div>


