<form>
  <%= form_for [@list, @item], :html => { :multipart => true } do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Item Name" %>
    </div>
    <hr />
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control", placeholder: "Describe Item" %>
    </div>
    <hr />
    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <hr />
    <% if @item.persisted? %>
      <div class="form-group">
        <%= f.label :complete %>
        <%= f.check_box :complete %>
      </div>
    <% end %>
  
    <%= f.submit class: "btn btn-primary" %>
  <% end %> 
</form> 
