<h1><%= @item.name %></h1>
<hr />
<h3>Description: <%=@item.description %></h3>

<hr />
<%= link_to 'Back to All Items', items_path %>

<%= link_to 'Edit Item', edit_item_path %>

<%= link_to 'Delete Item', item_path, method: :delete, data: {confrim: 'Do you really want to delete this?'} %>
