<h1><%= @item.name %></h1>
<hr />
<h3>Description: <%=@item.description %></h3>
<h3>Completed: <%= @item.complete ? "yes" : "no" %></h3>

<%= image_tag @item.image.url(:medium) %>


<hr />
<%= link_to 'Back to All Items', list_path(@list) %>

<%= link_to 'Edit Item', edit_list_item_path(@list, @item) %>

<%= link_to 'Delete Item', list_item_path, method: :delete, data: {confirm: 'Do you really want to delete this?'} %>
